@{
    ViewData["Title"] = "Home Page";
}

@model CalculatorForm

<form asp-controller="Home" asp-action="Calculated" method="post">
    LoanAmount:  <input asp-for="@Model.LoanAmount" /> <br />
    <button type="submit">Register</button>
</form>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
